@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Lora", serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contenedorContacto .formularioContacto input[type=submit], .contenedorContacto iframe, .contenedorContacto .formularioContacto, .productos .producto {
  border: 2px solid #C3C3C3;
  border-radius: 12px;
}

.productos .producto .tituloProducto {
  font-size: 22px;
  text-align: center;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header ul, footer a, h1, h2, p {
  animation: slideInTop 1s ease;
}

p, h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.textoInicio p, .textoGaleria, .textoContacto {
  padding-top: 0px;
}

main {
  background-image: url(./../img/fondoMain.png);
}

header {
  background-image: linear-gradient(to top, #84cca4, #8cccca);
}
header img {
  max-height: 80px;
  transition: transform 0.3s ease;
  animation: slideInLeft 1s ease;
}
header img:hover {
  transform: translateX(10px);
}
header .menu {
  flex-grow: 0;
}
header .menu ul {
  column-gap: 10px;
  align-items: center;
}
header .menu ul li a {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}
header .menu ul li a:hover {
  color: white;
}
header .menu ul .actual {
  text-decoration: underline;
}
header .menu-button {
  border: none;
}
header .menu-button:focus {
  box-shadow: none;
}
header .padding-0 {
  padding: 0;
}

footer {
  background-image: linear-gradient(to bottom, #84cca4, #8cccca);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
footer .redes {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  transition: transform 0.3s ease;
}
footer a:hover {
  transform: scale(1.2);
}
footer img {
  transition: transform 0.3s ease;
}
footer img:hover {
  transform: scale(1.2);
}

.contenedorInicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contenedorInicio div {
  width: 50vw;
  overflow: hidden;
}
.contenedorInicio .contenedorImagen img {
  animation: slideInLeft 1s ease;
  aspect-ratio: 4/5;
  width: 100%;
  transition: transform 0.3s ease;
}
.contenedorInicio .contenedorImagen img:hover {
  transform: scale(1.2);
}

.contenedorGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
.contenedorGrid div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorGrid div p {
  padding: 0px 50px 0px 50px;
}
.contenedorGrid div img {
  animation: slideInLeft 1s ease;
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.contenedorGrid div img:hover {
  transform: scale(1.2);
}
.contenedorGrid .textoNosotros1 h1 {
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: 2rem;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: initial;
}
.productos .producto {
  animation: slideInLeft 1s ease;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  row-gap: 10px;
  box-shadow: 15px 15px 10px 5px rgba(120, 120, 120, 0.63);
  background-image: url(./../img/fondoCuadriculado.png);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.productos .producto:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.63);
}
.productos .producto img {
  aspect-ratio: 1/1;
  width: 100%;
  transition: transform 0.3s ease;
}
.productos .producto img:hover {
  transform: scale(1.2);
}
.productos .producto div {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.productos .producto p {
  padding: 0px 2px 20px 2px;
}

.carousel {
  animation: slideInLeft 1s ease;
}
.carousel img {
  aspect-ratio: 16/9;
  width: 100%;
  transition: transform 0.5s ease;
}
.carousel img:hover {
  transform: scale(1.2);
}

.contenedorContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contenedorContacto iframe, .contenedorContacto .formularioContacto {
  animation: slideInLeft 1s ease;
  margin: 0px 20px 20px 20px;
  width: 500px;
  height: 500px;
  transition: box-shadow 0.3s ease;
}
.contenedorContacto iframe:hover, .contenedorContacto .formularioContacto:hover {
  box-shadow: 15px 15px 10px 5px rgba(120, 120, 120, 0.63);
}
.contenedorContacto .formularioContacto {
  animation: slideInRight 1s ease;
  background-image: url(./../img/fondoCuadriculado.png);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.contenedorContacto .formularioContacto div,
.contenedorContacto .formularioContacto input[type=text],
.contenedorContacto .formularioContacto input[type=email],
.contenedorContacto .formularioContacto input[type=tel],
.contenedorContacto .formularioContacto textarea {
  width: 100%;
  margin-bottom: 15px;
  resize: none;
}
.contenedorContacto .formularioContacto input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #84cca4;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.contenedorContacto .formularioContacto input[type=submit]:hover {
  background-color: #8cccca;
}

/* Media query tablet - (entre 768px y 1024px) */
@media screen and (max-width: 1024px) {
  h1,
  h2,
  .contenedorGrid .textoNosotros1 h1 {
    font-size: 22px;
  }
  .tituloProducto {
    font-size: 20px;
  }
}
/* Media query mobile - (entre 320px y 768px) */
@media screen and (max-width: 767.98px) {
  .menu {
    position: absolute;
    top: 105px;
    background-color: #84cca4;
    width: 100vw;
    z-index: 1;
  }
  .contenedorInicio {
    flex-direction: column;
  }
  .contenedorInicio div {
    width: 100%;
  }
  .contenedorGrid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "imagenNosotros1" "textoNosotros1" "imagenNosotros2" "textoNosotros2";
    gap: 20px;
    padding-bottom: 20px;
  }
  .contenedorGrid div p {
    padding: 0px 10px 0px 10px;
  }
  .contenedorGrid .imagenNosotros1 {
    grid-area: imagenNosotros1;
  }
  .contenedorGrid .imagenNosotros2 {
    grid-area: imagenNosotros2;
  }
  .contenedorGrid .textoNosotros1 {
    grid-area: textoNosotros1;
  }
  .contenedorGrid .textoNosotros2 {
    grid-area: textoNosotros2;
  }
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .productos .producto {
    width: 80vw;
  }
  .carousel img {
    object-fit: cover;
    height: 60vh;
  }
  .contenedorContacto {
    flex-wrap: wrap-reverse;
  }
}

/*# sourceMappingURL=styles.css.map */
